bin/
obj/

.vs/
*.user
*.vscode

*.nuget.props
*.paket.props
*.paket.references

*.log
*.logs

*.dll
*.exe
*.pdb
*.dll.config

*.env

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

*.suo
*.user
*.userosscache
*.sln.docstates

*.resx
*.resources

*.cache
*.log
*.npm
*.lock

.mono/
src/*/obj/
